.cardStyle {
	white-space: normal !important;
	letter-spacing: normal !important;
	min-height: 190px;
	min-width: 200px !important;
	max-width:240px; 

	img {
		width: 180px;
		height: 150px;
		align-items: center;
		border: none !important;
		overflow: hidden;
		object-fit: cover;
	}
}

