// modal white border
.custom-modal .modal-dialog {
	border: 1px solid #fff;
	border-radius: 0.6rem;
}

// modal black background
.custom-modal .modal-content {
	background-color: #000;
}

// input blanc avant et au focus
.custom-modal {
	input.form-control,
	textarea.form-control {
		background-color: #fff;
		color: #000 !important;
	}
}
.custom-modal {
	input.form-control:focus,
	textarea.form-control:focus {
		background-color: #fff;
		color: #000 !important;
	}
}

// placeholder text color
.custom-modal .form-control::placeholder {
	color: #000;
}

.custom-modal .form-control {
	background-color: transparent;
	border: none;
}

.index-alert {
	z-index: 1000;
}