// placeholder
textarea::placeholder,
input::placeholder,
select {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 0.75rem;
	color: #fff;
}

// style select du form
select.form-control,
input.form-control,
textarea.form-control {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 0.8rem;
	appearance: button;
}
// couleur de la bordure au focus dans input
input:focus,
textarea:focus {
	border-color: #dc0a2d !important;
	box-shadow: 0 0 0 0.2rem rgba(220, 10, 45, 0.25) !important;
}

//taille des input creation form
.size-row-create {
	width: 900px;
	@media (max-width: 910px) {
		.input-width {
			width: 90%;
		}
		.input-mid-width {
			width: 90%;
		}
		.input-small-width {
			width: 80%;
		}
		.textarea-width {
			width: 90%;
		}
	}
	@media (max-width: 768px) {
		width: 500px;
	}
}
.input-width {
	width: 340px;
}
.input-small-width {
	width: 210px;
}
.input-mid-width {
	width: 230px;
}
.textarea-width {
	width: 480px;
}

// Login & Register form
.sizeFormLoginRegister {
	max-width: 350px;
	width: 100%;
}
.d-block {
	display: block;
}

.smallerMargin {
	@media (max-width: 576px) {
		margin-top: 15px !important;
	}
}

// profile user form
.size-row-userProfile {
	width: 550px;
	@media (max-width: 576px) {
		width: 320px;
	}
}
.sizeFormUserProfile {
	width: 500px;
	@media (max-width: 576px) {
		width: 290px;
		p {
			margin-bottom: 0;
		}
	}
}

// style sur du texte simple
.small-text {
	font-size: 0.8rem;
}
.smaller-text {
	font-size: 0.7rem;
}
.underline {
	text-decoration: underline;
}

// homepage link
.custom-homepage-link {
	color: #dc0a2d;
	&:hover {
		color: #b60926;
	}
}

// style du dashboard
.dashboard {
	.contact-messages-table {
		tbody {
			tr {
				&.unread {
					background-color: rgba(144, 238, 144, 0.2);
				}
			}
		}
	}

	// switch style
	.form-switch {
		.form-check-input {
			background-color: #ffffff;
			background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23DC0A2D'/%3e%3c/svg%3e");
			border: none;

			&:before,
			&:focus:before {
				background-color: #dc0a2d;
			}

			&:checked {
				background-color: #b60926;
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffffff'/%3e%3c/svg%3e");

				&:before,
				&:focus:before {
					background-color: #ffffff;
				}
			}

			&:focus {
				border: none;
				box-shadow: none;
			}
		}
	}
}

// Override any conflicting styles specifically for the switch
.dashboard .form-switch .form-check-input:focus,
.dashboard .form-switch .form-check-input:focus:before {
	border-color: transparent !important;
	box-shadow: none !important;
}
