// couleurs des tags
$type-1: #A55239; // combat
$type-2: #7B63E7; // dragon
$type-3: #399CFF; // eau
$type-4: #FFC631; // électrik
$type-5: #F75231; // feu
$type-6: #5ACEE7; // glace
$type-7: #ADBD21; // insect
$type-8: #ADA594; // normal
$type-9: #7BCE52; // plante
$type-10: #B55AA5; // poison
$type-11: #FF73A5; // psy
$type-12: #BDA55A; // roche
$type-13: #D6B55A; // sol
$type-14: #6363B5; // spectre
$type-15: #9CADF7; // vol
